In [1]:
## This workbook will have the class and the functions to calculate the metrices

In [20]:
from datetime import datetime
import yfinance as yf
import pandas as pd

In [91]:
class LoadData:
    """This class will load data from both yfinance and the excelbook"""
    def __init__(self, stock):
        self.stock = stock
        self.start_date = '2014-01-01'
        self.end_date = datetime.today().strftime('%Y-%m-%d')

    def download_yfinace_data(self, stock):
        yf_data = yf.download(self.stock, start=self.start_date, end = self.end_date)
        yf_data = yf_data.resample('D').ffill()
        yf_data = pd.DataFrame(yf_data['Close'])
        return yf_data

    def load_p_n_l_excel_data(self, stock):
        data_p_n_l = pd.read_excel(f"../../data/{stock}.xlsx", skiprows=15, sheet_name = "Data Sheet", nrows=15)
        data_p_n_l = data_p_n_l.T

        # update header
        new_header = data_p_n_l.iloc[0] #grab the first row for the header
        data_p_n_l = data_p_n_l[1:] #take the data less the header row
        data_p_n_l.columns = new_header #set the header row as the df header
        data_p_n_l['Date'] = pd.to_datetime(data_p_n_l.index)
        data_p_n_l = data_p_n_l.set_index(data_p_n_l['Date'])
        # data_p_n_l = data_p_n_l.drop(columns=["Date"])
        data_p_n_l = data_p_n_l.dropna(axis=1)
        return data_p_n_l

    def load_quar_excel_data(self, stock):
        data_quarter = pd.read_excel("../../data/Infosys.xlsx", skiprows=40, sheet_name = "Data Sheet", nrows=10)
        data_p_n_l = data_quarter.T

        # update header
        new_header = data_p_n_l.iloc[0] #grab the first row for the header
        data_p_n_l = data_p_n_l[1:] #take the data less the header row
        data_p_n_l.columns = new_header #set the header row as the df header
        data_p_n_l['Date'] = pd.to_datetime(data_p_n_l.index)
        data_p_n_l = data_p_n_l.set_index(data_p_n_l['Date'])
        # data_p_n_l = data_p_n_l.drop(columns=["Date"])
        data_p_n_l = data_p_n_l.dropna(axis=1)
        return data_p_n_l

In [92]:
class merge_price_data:
    """merger price data with other dataframes calculated like pnl and qyuar"""
    def __init__(self, yf_ticker, excel_file_data):
        self.yf_ticker = yf_ticker
        self.excel_file_data = excel_file_data

    def merge_pnl_with_close(self, yf_ticker,excel_file_data):
        data = LoadData(yf_ticker)
        yf_data = data.download_yfinace_data(yf_ticker)

        data_p_n_l= data.load_p_n_l_excel_data(excel_file_data)
        
        price = yf_data.loc[data_p_n_l['Date']]['Close']
        # price.values
        data_p_n_l['Close'] = price.values
        return data_p_n_l

    def merge_quar_with_close(self, yf_ticker,excel_file_data):
        data = LoadData(yf_ticker)
        yf_data = data.download_yfinace_data(yf_ticker)

        data_p_n_l= data.load_quar_excel_data(excel_file_data)
        
        price = yf_data.loc[data_p_n_l['Date']]['Close']
        # price.values
        data_p_n_l['Close'] = price.values
        return data_p_n_l

In [90]:
# Test
# data = LoadData('INFY.NS')
# data.download_yfinace_data('INFY.NS')

In [77]:
# Class to read data from the excel
# data.load_p_n_l_excel_data('Infosys')

In [78]:
# data.load_quar_excel_data('Infosys')

In [87]:
merge = merge_price_data('INFY.NS', 'Infosys')

In [88]:
merge.merge_pnl_with_close('INFY.NS', 'Infosys')

[*********************100%%**********************]  1 of 1 completed

Report Date,Sales,Power and Fuel,Other Mfr. Exp,Employee Cost,Selling and admin,Other Expenses,Other Income,Depreciation,Profit before tax,Tax,Net profit,Dividend Amount,Date,Close
Date,,,,,,,,,,,,,,
2015-03-31,53319.0,219.0,3979.0,29811.0,3385.0,1042.0,3430.0,1017.0,17284.0,4911.0,12372.0,6806.8,2015-03-31,554.587524
2016-03-31,62441.0,217.0,5860.0,34415.0,4441.0,429.0,3120.0,1459.0,18740.0,5251.0,13489.0,5548.4,2016-03-31,609.150024
2017-03-31,68484.0,228.0,6712.0,37669.0,4584.0,687.0,3050.0,1703.0,19951.0,5598.0,14353.0,5891.6,2017-03-31,511.125000
2018-03-31,70522.0,207.0,7286.0,38902.0,4585.0,720.0,3311.0,1863.0,20270.0,4241.0,16029.0,9465.6,2018-03-31,565.900024
2019-03-31,82675.0,221.0,9902.0,45323.0,5553.0,1506.0,2882.0,2011.0,21041.0,5631.0,15404.0,9222.5,2019-03-31,737.799988
2020-03-31,90791.0,229.0,11086.0,50895.0,5375.0,939.0,2803.0,2893.0,22007.0,5368.0,16594.0,7427.0,2020-03-31,641.500000
2021-03-31,100472.0,143.0,12800.0,55547.0,3194.0,899.0,2201.0,3267.0,26628.0,7205.0,19351.0,11469.6,2021-03-31,1368.050049
2022-03-31,121641.0,132.0,20690.0,63997.0,4305.0,1026.0,2295.0,3476.0,30110.0,7964.0,22110.0,13007.6,2022-03-31,1906.849976
2023-03-31,146767.0,176.0,26330.0,78374.0,5300.0,1457.0,2701.0,4225.0,33322.0,9214.0,24095.0,14069.2,2023-03-31,1427.949951
2024-03-31,153670.0,199.0,27195.0,82636.0,5705.0,1510.0,4711.0,4678.0,35988.0,9740.0,26233.0,19053.2,2024-03-31,1498.050049

In [89]:
merge.merge_quar_with_close('INFY.NS', 'Infosys')

[*********************100%%**********************]  1 of 1 completed

Report Date,Sales,Expenses,Other Income,Depreciation,Interest,Profit before tax,Tax,Net profit,Operating Profit,Date,Close
Date,,,,,,,,,,,
2022-03-31,32276,24430,637,890,50,7543,1848,5686,7846,2022-03-31,1906.849976
2022-06-30,34470,26606,676,950,56,7534,2172,5360,7864,2022-06-30,1461.900024
2022-09-30,36538,27636,584,1029,66,8391,2365,6021,8902,2022-09-30,1413.449951
2022-12-31,38318,28951,769,1125,80,8931,2345,6586,9367,2022-12-31,1508.199951
2023-03-31,37441,28443,671,1121,82,8466,2332,6128,8998,2023-03-31,1427.949951
2023-06-30,37933,28869,561,1173,90,8362,2417,5945,9064,2023-06-30,1335.500000
2023-09-30,38994,29554,632,1166,138,8768,2553,6212,9440,2023-09-30,1435.449951
2023-12-31,38821,29684,789,1176,131,8619,2506,6106,9137,2023-12-31,1542.900024
2024-03-31,37923,29139,2729,1163,110,10240,2265,7969,8784,2024-03-31,1498.050049
2024-06-30,39315,29878,838,1149,105,9021,2647,6368,9437,2024-06-30,1566.750000

In [ ]:
https://byjus.com/rate-of-change-calculator/